
<link rel="import" href="polymer/polymer.html">
<link rel="import" href="vacuum-sparkline.html">
<!-- x = &#x2716, -> = &#21e8, => &#27A1, /^ = &#2b08 -->
<!-- GUI for the MFCs -->
<dom-module id="vacuum-tvc-element">
  <template>
      <style>
        /* #container { width: 200px; height:200px; position: relative; }
        #maintab #pidtab { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
        #maintab { z-index: 1; }
        #pidtab { z-index: 2; } */
        button { 
            margin: 0px; padding: 0px; background: #444;
            border: 1px solid #888; border-radius: 5px;
        }
        .toggle-switch {
            background-color: transparent; color: black;
            border: none; margin: 0px; padding: 0px;
        }
        input[type="number"] { width:40px; height: 10px; }
      </style>
      <div id=container>
      <div id="maintab">
          <label id="pressure" style="color:red">0.0</label><label>&nbsp;Torr</label>&nbsp;&nbsp;
          <label id="position" style="color:blue">0.0</label><label>&nbsp;%</label>
          <label style="font-weight: bold;">TVC</label><br>
          <input type="radio" name="setp_switch" id="open_button" on-click="open">Open</input>
          <input type="radio" name="setp_switch" id="close_button" on-click="close">Close</input>
          <button id="pidcntrl" on-click="show_pidcntrl" type="checkbox">PID</button>
          <template is="dom-repeat" id="setp" items="{{setpList}}">
              <div>
                  <input type="radio" name="setp_switch" id="setp_{{item.name}}_button" on-click="select_setpoint">{{item.name}}</input>
                  <input id="setp_{{item.name}}_setval" type="number" on-change="setp_setval_change" min="0.0" max="100.0" step="0.1" value="{{item.setval}}">
                  <button id="setp_{{item.name}}_mode" type="checkbox" class="toggle-switch" on-click="changemode">{{item.mode}}</button>
                  <button id="setp_{{item.name}}_apply" on-click="apply_setp_values" type="checkbox">Set</button>
              </div>
          </template>
      </div>
      <div id="pidtab" style="display:none">
          <!-- <button id="setptab" on-click="show_pidcntrl" type="checkbox">Setpoints</button> -->
          <template is="dom-repeat" id="setp_pid" items="{{setpList}}">
              <div>
                  <label>{{item.name}}</label>
                  <input id="setp_{{item.name}}_gain" type="number" on-change="setp_param_change" min="0.0" value="{{item.gain}}">
                  <input id="setp_{{item.name}}_phase" type="number" on-change="setp_param_change" min="0.0" value="{{item.phase}}">
                  <button id="setp_{{item.name}}_pid_apply" on-click="apply_setp_params" type="checkbox">Set</button>
              </div>
          </template>
      </div>
      </div>

    <vacuum-sparkline id="tvc_pressure" name="Pressure" height="50" width="150" linecolor="red" fullscale="760"></vacuum-sparkline> 
    <br>
    <vacuum-sparkline id="tvc_position" name="Position" height="50" width="150" linecolor="blue" fullscale="100"></vacuum-sparkline> 
  </template>
</dom-module>

<script> 
  Polymer({

    is: "vacuum-tvc-element",

    properties: {
      name: { type: String, },
      setpdict: { type: Object, value: function () { return {}; } },
      setpList: { type: Array, },
      modedict: { type: Object, value: function() { return {'Torr': 'Pressure', '%': 'Position'}; }, },
    },

    // Element Lifecycle
    ready: function() {
        this.setpList = [ 
            {name: 'A', active: false, mode: 'Torr', setval: 0.0, gain: 0.0, phase: 0.0, softstart: 100, }, 
            {name: 'B', active: false, mode: 'Torr', setval: 0.0, gain: 0.0, phase: 0.0, softstart: 100, }, 
            {name: 'C', active: false, mode: 'Torr', setval: 0.0, gain: 0.0, phase: 0.0, softstart: 100, }, 
            {name: 'D', active: false, mode: '%', setval: 0.0, gain: 0.0, phase: 0.0, softstart: 100, }, 
            {name: 'E', active: false, mode: '%', setval: 0.0, gain: 0.0, phase: 0.0, softstart: 100, },
            ];
        for(var i=0; i<this.setpList.length; i++) { this.setpdict[this.setpList[i].name] = i; }
    },

    attached: function() {
        for(var i=0; i<this.setpList.length; i++) { 
            this.$$("#setp_"+this.setpList[i].name+"_apply").disabled = true;
            this.$$("#setp_"+this.setpList[i].name+"_pid_apply").disabled = true;
        }
    }, 
    detached: function() {},
    open: function() { SendCmds([[this.name, 'open', ['']]]); },
    close: function() { SendCmds([[this.name, 'close', ['']]]); },
    select_setpoint: function(e) {
        var model = e.model;
        SendCmds([[this.name, 'activate_setp', [model.item.name]]]);
    },
    setp_setval_change: function(e) { this.$$("#setp_"+e.model.item.name+"_apply").disabled = false; },
    changemode : function(e) {
        var setpname = e.model.item.name;
        var currmode = this.$$("#setp_"+setpname+"_mode").innerHTML;
        var modebutton = this.$$("#setp_"+setpname+"_mode");
        var nextmode;
        if (currmode=="Torr") nextmode = "%";
        else if (currmode=="%") nextmode = "Torr";
        this.$$("#setp_"+setpname+"_apply").disabled = false;
        modebutton.innerHTML = nextmode;
    },
    setp_param_change: function(e) { this.$$("#setp_"+e.model.item.name+"_pid_apply").disabled = false; },
    apply_setp_values: function(e) {
        var setpname = e.model.item.name;
        var setpidx = this.setpdict[setpname];
        this.$$("#setp_"+setpname+"_apply").disabled = true;
        var currmode = this.$$("#setp_"+setpname+"_mode").innerHTML;
        this.setpList[setpidx].mode = currmode;
        var setval = this.$$("#setp_"+setpname+"_setval").value;
        this.setpList[setpidx].setval = setval;
        var softstart = this.setpList[setpidx].softstart;
        currmode = this.modedict[currmode];
        SendCmds([[this.name, "set_setp_state", [setpname, currmode, setval, softstart]]]);
    },
    apply_setp_params: function(e) {
        var setpname = e.model.item.name;
        var setpidx = this.setpdict[setpname];
        this.$$("#setp_"+setpname+"_pid_apply").disabled = true;
        var gain = this.$$("#setp_"+setpname+"_gain").value;
        this.setpList[setpidx].gain = gain;
        var phase = this.$$("#setp_"+setpname+"_phase").value;
        this.setpList[setpidx].phase = phase;
        SendCmds([[this.name, "set_setp_params", [setpname, gain, phase]]]);
    },
    show_pidcntrl: function() { 
        if (this.$.pidcntrl.checked) {
            this.$.pidtab.style.display = 'none';
            this.$.pidcntrl.checked = false;
        } else {
            this.$.pidtab.style.display = 'inline-block';
            this.$.pidcntrl.checked = true;
        }
    },
    changeDisplay: function(cmdname, args) { // this is fired by polymer when this.state is set in main code.
        if (cmdname=='open' || cmdname=='close') { 
        }
        else if (cmdname=='get_pressure_position') { 
            this.$.pressure.innerHTML = parseFloat(args[1][0]).toPrecision(4); this.$.position.innerHTML = parseFloat(args[1][1]).toPrecision(4); 
            this.$.tvc_pressure.push_data(args[1][0]); this.$.tvc_position.push_data(args[1][1]);
        }
        else if (cmdname=='get_setp_state' || cmdname=='set_setp_state') {
            var setpidx = this.setpdict[args[1][0]];
            var params = args[1][1];
            var mode = params[0];
            var setval = params[1];
            var softstart = params[2];
            if (mode=='Pressure') { this.setpList[setpidx].mode = 'Torr'; this.$$("#setp_"+args[1][0]+"_mode").innerHTML = 'Torr';}
            else { this.setpList[setpidx].mode = '%'; this.$$("#setp_"+args[1][0]+"_mode").innerHTML = '%';}
            this.setpList[setpidx].setval = setval; this.$$("#setp_"+args[1][0]+"_setval").value = setval;
            this.setpList[setpidx].softstart = softstart;
        }
        else if (cmdname=='get_setp_params' || cmdname=='set_setp_params') {
            var setpidx = this.setpdict[args[1][0]];
            var gain = args[1][1];
            var phase = args[1][2];
            this.setpList[setpidx].gain = gain; this.$$("#setp_"+args[1][0]+"_gain").value = gain;
            this.setpList[setpidx].phase = phase; this.$$("#setp_"+args[1][0]+"_phase").value = phase;
        }
        else if (cmdname=='activate_setp') {
            var setpidx = this.setpdict[args[1][0]];
        }
        else if (args[0] != 0) { console.log('Error'+ args[1]); }
    },

  });
</script>
