
<link rel="import" href="polymer/polymer.html">
<!-- x = &#x2716, -> = &#21e8, => &#27A1, /^ = &#2b08 -->
<!-- GUI for the MFCs -->
<dom-module id="vacuum-valve-element">
  <template>
      <style>
        label {
            font-size: small;
        }
        button {
            background: white;
            color: black;
            border: none;
            margin: 0px;
            padding: 0px;
        }
        </style>
        <div>
            <!-- using for="statebutton" in following label causes the label of all
                instances of this element to be attached to the statebutton of the
                first element. May be a bug or may be due to how templates are processed -->
            <label id="statelabel"></label><br>
            <button id="statebutton" on-click="handleClick"></button>
        </div>
  </template>
</dom-module>

<script> 
  Polymer({

    is: "vacuum-valve-element",

    properties: {
      name: { type: String, },
      category: { type: String, },
      state : { type: Number, notify: true, },
      state_dict: {
          type: Object,
          value: function () { return {"flow": "&#x27A1", "noflow": "&#x2716", "divert": "&#x2b08", }; },
      },
      statetext0: { type: String, },
      statetext1: { type: String, },
    },

    /* These lines of code can be used to change the display of this element by setting the
       value of some attribute from the html/js code elsewhere. Polymer frame work monitors
       the properties, which have notify: true set, and generates the events. Here, the property
       called "state" is used as an example. In main code, use "doument.getElementById('valve-name').state = 1
       to fire this listener. We have not used it, since changeDisplay function is clear and flexible.
      state : { type: Number, notify: true, },
    listeners: {
        'state-changed': 'stateChanged',
    },
    stateChanged: function(evt) { // this is fired by polymer when this.state is set in main code.
        //alternative this can be directly called from the main code.
        if(this.state==1) { this.$.statebutton.innerHTML = this.statetext1; }
        else if (this.state==0) { this.$.statebutton.innerHTML = this.statetext0; }
    },
    */
    // Element Lifecycle
    ready: function() {
        this.$.statelabel.innerHTML = this.name;
        if (this.category=="normal") {
            this.statetext0 = this.state_dict["noflow"];
            this.statetext1 = this.state_dict["flow"];
        } else if (this.category=="byvalve") {
            this.statetext0 = this.state_dict["divert"];
            this.statetext1 = this.state_dict["flow"];
        }
        if(this.state==0) this.$.statebutton.innerHTML=this.statetext0;
        if(this.state==1) this.$.statebutton.innerHTML=this.statetext1;
    },

    attached: function() {}, detached: function() {},
    handleClick: function () {
        if (this.state==0) { SendCmds([[this.name, "set_state", [1]]]); }
        else if (this.state==1) { SendCmds([[this.name, "set_state", [0]]]); }
    },
    changeDisplay: function(cmdname, args) { // this is fired by polymer when this.state is set in main code.
        if (args[0] != 0) { console.log('Error'+ args[1]); }
        else if (cmdname=='set_state' || cmdname=='get_state') {
            if (args[1] == 0) { this.state=0; this.$.statebutton.innerHTML = this.statetext0; }
            else if (args[1]==1) { this.state=1; this.$.statebutton.innerHTML = this.statetext1; }
        }
    },

  });
</script>
