<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<link href="{{ static_url("css/style.css") }}" rel="stylesheet">
<script> 
    /* these dicts and lists map device names, function names etc. to numeric codes
        so that the commands send to server are concise. Similar processing happens
        on the server (see controlserver.py) so that the devices and UI components
        are not aware of this. */
    var devtocode = {};
    var codetodev = {};
    var functocode = [];
    var codetofunc = [];
    var errcodes = [];
    var update_gui = function () {};
    var authorised = true;

    //this is called on receipt of messages, it maps numeric codes to
    //dev and funcnames and sends them to update_gui function.
    var fallback_onmessage = 
        function(evt) { 
            //console.log(evt.data);
            var d = JSON.parse(evt.data);
            for (var i=0; i<d.length; i++) {
                var devname = codetodev[d[i][0]];
                var cmdname = codetofunc[d[i][0]][d[i][1]];
                var args = d[i][2];
                //alert(devname+' '+cmdname+' '+JSON.stringify(args));
                update_gui(devname, cmdname, args);
            }
        };

    var check_authorisation = function(evt) {
        var msg = JSON.parse(evt.data)[0][2];
        var err = msg[0];
        var errmsg = msg[1];
        if (err<0) { 
            authorised = false;
            alert("Server declined to authorise: "+errmsg);
        }
        ws.onmessage = fallback_onmessage;
    }
    ws = new WebSocket("ws://{{ws_ipaddr}}:{{ws_port}}/controllersocket"); 
    //when websocket is opened, we read name to numeric mappings
    //for devices and their functions. 
    ws.onopen = function() {
        var assigncodes = function(evt) {
            console.log(evt.data);
            var msg = JSON.parse(evt.data)[0][2];
            var err = msg[0];
            devtocode = msg[1][0];
            codetodev = msg[1][1];
            errcodes = msg[1][2];
            
            var l = Object.keys(devtocode).length;
            for (var i=0; i<l; i++) {
                functocode.push(msg[1][2][i]);
                codetofunc.push(msg[1][3][i]);
                //alert(JSON.stringify(functocode[i]));
            }
            console.log(functocode);
            console.log(codetofunc);
            // now we have all the codes.
            //ask for authorisation. currently based on IP addr. In a more sophisticated version,
            //we can use login/pwd in args list.
            ws.onmessage = check_authorisation;
            ws.send(JSON.stringify([[0, functocode[0]['authorise'], [""]]]));
        };
        ws.onmessage = assigncodes;
        //ask for numeric codes to devices and their associated functions.
        ws.send(JSON.stringify([[0, 0, [1]]]));
    };
    
    //this only writes the cmds to server, by converting names to numeric codes.
    var SendCmds_wo_recording = function(cmdlist) {
        if (authorised==false) return;
        var cmdstocodes = function(devname, cmdname, args) {
            //translate the arguments to numeric codes
            //console.log(devname + cmdname + args)
            //console.log("devtocode");
            //console.log(devtocode);
            //console.log("functocode");
            //console.log(functocode);
            return [devtocode[devname], functocode[devtocode[devname]][cmdname], args];
        };
        var codedcmds = [];
        for (var i=0; i<cmdlist.length; i++) {
            codedcmds.push(cmdstocodes(cmdlist[i][0], cmdlist[i][1], cmdlist[i][2]));
        }
        ws.send(JSON.stringify(codedcmds));
    };
    //this also records the cmds in a textarea "executed", see vacuum-cmdmanager.html
    var SendCmds = function(cmdlist) {
        SendCmds_wo_recording(cmdlist);
        document.getElementById("cmdmanager").appendCmds(cmdlist);
    };
</script>
        <!-- load all web components -->
<script src="{{ static_url("js/json2.js") }}"></script>
<script src="{{ static_url("webcomponentsjs/webcomponents-lite.js") }}"></script>
<link rel="import" href="{{ static_url("vacuum-valve.html") }}">
<link rel="import" href="{{ static_url("vacuum-logger.html") }}">
<link rel="import" href="{{ static_url("vacuum-mfc.html") }}">
<link rel="import" href="{{ static_url("vacuum-tvc.html") }}">
<link rel="import" href="{{ static_url("vacuum-cmdmanager.html") }}">
<!--<script src="{{ static_url("js/jquery-2.1.1.min.js") }}"></script>-->
<script type="text/javascript">
docReady = function() {
    
    //install a handler for updating the values of MFCs etc. continuously.
    //continuous updates
    var upd_cmdlist = [ ["mfc-ch4-1", "get_flow", [""]],
        ["mfc-ar-1", "get_flow", [""]],
        ["mfc-h2-1", "get_flow", [""]],
        ["mfc-n2-1", "get_flow", [""]],
        ["tvc", "get_pressure_position", [""]]];
    var upd_interval = document.querySelector("#update_interval").value;
    var update_loop;
    function cont_update() { SendCmds_wo_recording(upd_cmdlist); }
    // this line is needed since the other html source file take time to download,
    // otherwise we would directly call the inner statement.
    setTimeout( function () { update_loop = setInterval(cont_update, upd_interval); }, 1000);
    function change_updtime() {
        clearInterval(update_loop);
        upd_interval = document.querySelector("#update_interval").value;
        if(upd_interval < 400) { alert("Intervals below 400 ms not allowed"); return; }
        update_loop = setInterval(cont_update, upd_interval);
    };
    document.querySelector("#update_button").onclick = change_updtime;
    
    //find the ui component which corresponds to devname + cmdname combination
    //and ask that component to update itself. All webcomponents used here implement
    //changeDisplay function.
    update_gui = function(devname, cmdname, resp) {
        // err handling will be left for the elements themselves.
        var uielem;
        if (devname=='controller') {
            if(cmdname=='startlog' || cmdname=='stoplog') { uielem = document.getElementById('logmanager');}
            else if (cmdname=='savescript') { uielem = document.getElementById('cmdmanager');}
            else if (cmdname=='authorise') { 
                var e = new Object(); e.data = JSON.stringify([[0, functocode[0][cmdname], resp]]);
                check_authorisation(e);
                return;
            }
        } else { 
		//console.log(devname); 
		uielem = document.getElementById(devname); }
        uielem.changeDisplay(cmdname, resp);
    };
};
</script>

</head>
<body>

<vacuum-logmanager-element id="logmanager" updateintv="1000">  </vacuum-logmanager-element>
<span><button id="update_button" >Update at</button><input id="update_interval" type="text" value="10000" size="5"/>ms</span>

<table id="cvd-furnace">
    <tr>
        <td> <vacuum-valve-element id="sw-ventline" category="normal" name="sw-ventline" state="0"> </vacuum-valve-element></td>
    </tr>
    <tr>

        <td>
<table id="input-manifold">
    <tr id="row-ch4-1">
        <td><vacuum-valve-element id="sw-ch4-1-in" category="normal" name="sw-ch4-1-in" state="0">  </vacuum-valve-element></td>
        <td><vacuum-mfc-element id="mfc-ch4-1" name="mfc-ch4-1" gascolor="orange" fs_range="30.0" curr_flow="0.0"> </vacuum-mfc-element></td>
        <td><vacuum-valve-element id="sw-ch4-1-by" category="byvalve" name="sw-ch4-1-by" state="0">  </vacuum-valve-element></td>
    </tr>
    <tr id="row-ar-1">
        <td><vacuum-valve-element id="sw-ar-1-in" category="normal" name="sw-ar-1-in" state="0">  </vacuum-valve-element></td>
        <td><vacuum-mfc-element id="mfc-ar-1" name="mfc-ar-1" gascolor="purple" fs_range="100.0" curr_flow="0.0"> </vacuum-mfc-element></td>
        <td><vacuum-valve-element id="sw-ar-1-by" category="byvalve" name="sw-ar-1-by" state="0">  </vacuum-valve-element></td>
    </tr>
    <tr id="row-h2-1">
        <td><vacuum-valve-element id="sw-h2-1-in" category="normal" name="sw-h2-1-in" state="0">  </vacuum-valve-element></td>
        <td><vacuum-mfc-element id="mfc-h2-1" name="mfc-h2-1" gascolor="red" fs_range="100.0" curr_flow="0.0"> </vacuum-mfc-element></td>
        <td><vacuum-valve-element id="sw-h2-1-by" category="byvalve" name="sw-h2-1-by" state="0">  </vacuum-valve-element></td>
    </tr>
    <tr id="row-n2-1">
        <!-- <td><vacuum-valve-element id="sw-n2-1-in" category="normal" name="sw-n2-1-in" state="0">  </vacuum-valve-element></td> -->
        <td><vacuum-valve-element id="sw-n2-1-in" category="normal" name="sw-n2-1-in" state="0">  </vacuum-valve-element></td>
        <td><vacuum-mfc-element id="mfc-n2-1" name="mfc-n2-1" gascolor="blue" fs_range="1000.0" curr_flow="0.0"> </vacuum-mfc-element></td>
        <td><vacuum-valve-element id="sw-n2-1-by" category="byvalve" name="sw-n2-1-by" state="0">  </vacuum-valve-element></td>
    </tr>
    <tr id="row-pump-ctrl">
        <td><vacuum-valve-element id="sw-pump-ctrl" category="normal" name="sw-pump-ctrl" state="0">  </vacuum-valve-element></td>
    </tr>
</table>
        </td>
        

        <td> <vacuum-valve-element id="sw-before-inlet" category="normal" name="sw-before-inlet" state="0">  </vacuum-valve-element> </td>
        <td style='background:red;font-weight:bold;'> Furnace </td>
        <td> <vacuum-tvc-element id="tvc" name="tvc"></vacuum-tvc-element> </td>

	<!--  <td> <vacuum-valve-element id="sw-before-pump" category="normal" name="sw-before-pump" state="0">  </vacuum-valve-element> </td> -->
        <td style='background:red;font-weight:bold;'> Pump </td>

</tr>
</table>

<vacuum-cmdmanager-element id="cmdmanager"> </vacuum-cmdmanager-element>

<script type="text/javascript"> docReady() </script>

</body></html>
